.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.create-button {
  background-color: #a43523;
  color: white;
}
