.phase1-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5rem;
  gap: 2rem;
}

.phase1-content {
  flex: 1;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  justify-content: center;
}

.ranking-panel,
.matches-panel {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  gap: 1rem;
  max-width: 650px;
}

.ranking-scroll,
.match-table-container {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.tabs {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  width: 100%;
}

.active-tab {
  font-weight: bold;
  background-color: #fe1900d0;
  cursor: default;
}

.round-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.progress-container {
  position: relative;
  width: 90%;
  height: 2px;
  background-color: lightgray;
  margin-top: 2px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: gray;
}

.phase1-table {
  width: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: auto min-content min-content auto;
  white-space: nowrap;
}

.ranking-table {
  width: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: min-content auto min-content;
  white-space: nowrap;
}

.phase1-table thead,
.phase1-table tbody,
.phase1-table tr,
.ranking-table thead,
.ranking-table tbody,
.ranking-table tr {
  display: contents;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.score-col {
  width: auto;
}

td.score-col {
  padding: 0;
}

.score-input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  background: none;
  height: 100%;
  text-align: center;
}

.score-input::-webkit-inner-spin-button,
.score-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.score-input:focus {
  outline: none;
}

.winner {
  background-color: #d4edda;
}

.loser {
  background-color: #f8d7da;
}

.ranking-panel h2,
.matches-panel h2 {
  width: 100%;
  text-align: center;
}

.divider {
  width: 1px;
  background-color: lightgray;
  height: 90%;
  align-self: center;
}

.start-button {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
